@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/* Font - title */
.title-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* Regular Font */

.regular-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Root Styles */

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

/* Shared Styles */
:root {
    --dark-1: #000000;
    --dark-2: #252432;
    --dark-3: #8987a1;
    --p-color: rgba(0, 0, 0, 0.5);
    --primary-color: #e95a08;
    --main-dark: #000000;
}
.dark-1 {
    color: var(--dark-1);
}
.dark-2 {
    color: var(--dark-2);
}
.dark-3 {
    color: var(--dark-3);
}
.p-color {
    color: var(--p-color);
}
.primary-color {
    color: var(--primary-color);
}
/* Main width */
.main-width {
    max-width: 1140px;
    margin: 0 auto;
}

/* p tag styles */
p {
    color: var(--p-color);
    line-height: 1.75rem;
    margin-top: 18px;
    font-size: 1.375rem;
}

/* Nav bar styles */

.nav-container {
    margin-top: 25px;
    margin-bottom: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-container ul {
    display: flex;
    gap: 45px;
}
.nav-container ul li {
    list-style: none;
}
.nav-container ul li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
}

/* banner styles */
.banner-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-title {
    font-size: 4.1rem;
    font-weight: 700;
}

/* Plant section  styles */
.plant-section{
    margin-top: 130px;
    display: flex;
    justify-content: center;
    text-align: center;
}
.section-title{
    font-size: 3.125rem;
    font-weight: 700;
}
.section-des{
    max-width: 880px;
    margin: 0 auto;
}

/* cards */
.plant-cards{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.card button{
    background-color: #e95a08;
    font-weight: 600;
    font-size: 1rem;
    color: #fff;
    width: 100%;
    padding: 8px 0;
    cursor: pointer;
    margin-top: 10px;
}
.card button:hover{
    background-color: #e95a089d;
    color: #cfcfcf;
}
.card h5{
    font-size: 1.2rem;
    margin-top: 10px;
    font-weight: 500;
}
.card h3{
    font-size: 1.4rem;
    font-weight: 600;
}



/* Mediaqueray */
@media screen and (max-width: 1190px) and (min-width: 576px) {
    body {
        margin: 0 50px;
    }
}


@media screen and (max-width: 576px) {
    /* Shared Styles */
    .hide {
        display: none;
    }
    .margin {
        margin: 0 15px;
    }

    /* Main styles */
    .nav-container,
    .banner-title{
        margin-top: 30px;
    }
  
    nav{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
    }

    .banner-container {
        flex-direction: column-reverse;
        margin-top: 30px;
    }

    /*plant Section */
    .plant-cards{
        grid-template-columns: repeat(2, 1fr);
    }
}

